*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Segoe UI, sans-serif;
background:#0a192f;
color:#e6f1ff;
}

/* NAVBAR */
nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#081426;
z-index:1000;
}

.logo{
color:#10b981;
font-weight:bold;
}

.nav-links a{
color:#cbd5e1;
margin-left:25px;
text-decoration:none;
}

.nav-links a:hover{
color:#10b981;
}

/* HERO */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:radial-gradient(circle at top right, rgba(16,185,129,0.15), transparent 40%);
}

.hero h1{
font-size:48px;
color:#10b981;
margin-bottom:10px;
}

.hero p{
color:#94a3b8;
}

/* SECTION */
.section{
padding:120px 60px;
max-width:1200px;
margin:auto;
}

.section h2{
color:#10b981;
margin-bottom:40px;
}

/* EDUCATION */
.edu-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
}

.timeline-item{
background:#112240;
padding:15px;
margin-bottom:15px;
border-radius:8px;
}

.extra{
margin-top:30px;
background:#112240;
padding:20px;
border-radius:10px;
}

/* SKILLS */
.skills-row{
display:flex;
gap:25px;
flex-wrap:wrap;
margin-bottom:40px;
}

.skill-box{
width:110px;
height:110px;
background:#112240;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
transition:0.3s;
}

.skill-box img{
width:55px;
}

.skill-box:hover{
transform:translateY(-8px);
box-shadow:0 0 20px rgba(16,185,129,0.5);
}

/* PROGRESS */
.progress{
background:#112240;
border-radius:30px;
overflow:hidden;
margin-bottom:20px;
}

.bar{
height:25px;
width:0;
background:linear-gradient(90deg,#10b981,#059669);
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
}

/* SOFT */
.soft-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.soft-grid div{
background:#112240;
padding:12px;
border-radius:8px;
}

/* VIDEO */
.video-layout{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

iframe{
width:100%;
height:280px;
border-radius:12px;
}

/* CONTACT */
.contact p{
margin-bottom:10px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#081426;
}

/* MOBILE */
@media(max-width:768px){
.edu-grid,
.video-layout{
grid-template-columns:1fr;
}
}
