*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Segoe UI, sans-serif;
background:#0a192f;
color:#ccd6f6;
}

/* NAVBAR */
nav{
position:fixed;
top:0;
width:100%;
background:#020c1b;
display:flex;
justify-content:space-between;
padding:15px 40px;
z-index:1000;
}

nav a{
color:#10b981;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:white;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0a192f,#064e3b);
text-align:center;
}

.hero h1{
font-size:45px;
color:#10b981;
margin-bottom:20px;
}

.about-box{
background:#112240;
padding:25px;
border-radius:15px;
max-width:600px;
box-shadow:0 0 25px rgba(16,185,129,0.3);
}

/* SECTIONS */
.section{
padding:120px 40px;
max-width:1100px;
margin:auto;
}

.section h2{
color:#10b981;
margin-bottom:30px;
}

/* QUALIFICATIONS */
.qual-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.timeline{
background:#112240;
padding:15px;
margin-bottom:15px;
border-radius:10px;
}

.extra-card{
margin-top:30px;
background:#112240;
padding:20px;
border-radius:15px;
}

/* SKILLS */
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-bottom:30px;
}

.skill-card{
background:#112240;
padding:20px;
text-align:center;
border-radius:12px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-8px);
box-shadow:0 0 20px rgba(16,185,129,0.6);
}

/* PROGRESS */
.progress{
background:#112240;
border-radius:30px;
overflow:hidden;
margin-bottom:20px;
}

.bar{
background:linear-gradient(90deg,#10b981,#059669);
height:25px;
width:0;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
}

/* SOFT SKILLS */
.soft-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.soft-grid div{
background:#112240;
padding:12px;
border-radius:10px;
}

/* VIDEO */
.video-grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

.small-videos iframe{
margin-bottom:15px;
}

iframe{
width:100%;
height:280px;
border-radius:15px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#020c1b;
}

/* FADE ANIMATION */
.fade{
opacity:0;
transform:translateY(40px);
transition:0.7s ease;
}

.fade.show{
opacity:1;
transform:translateY(0);
}

/* MOBILE */
@media(max-width:768px){
.qual-grid,
.video-grid{
grid-template-columns:1fr;
}
}
